/* (136) Criando Caixa de Mensagem Personalizada - Parte 02 */
body {
   background-color: #202225;
}
   
* {
   padding: 0;
   margin: 0;
   border: none;
   box-sizing: border-box;
}

.btn_mostrarcxmsg {
   padding: 10px 40px;
   cursor: pointer;
   border-radius: 5px;
   margin: 5px;
}