/*
	filter: Filtros;
		grayscale(PORCENTAGEM/entre 0-1) = Escala de Cinza

		blur(PIXELS) = Embaçamento, quanto maior o valor, maior o embaçamento

		brightness(PORCENTAGEM/entre 0-1) = Brilho

		contrast(PORCENTAGEM/entre 0-1) = Contrate
	
*/

img{
	/*filter: grayscale(100%);
	filter: blur(5PX);
	filter: brightness(150%);*/
	filter: contrast(150%);
}