/*
	Ajuste dos elementos dentro do containner;
		display-flex = Usado no Containner
		flex = Usado nos filhos do Containner
			1 = Elemento Flexivel, preenche o espaço do containner

		flex-wrap: Quebra de Linha;
			nowrap = Não faz a quebra de linha 
			wrap = Faz a bra de linha

		justify-content: Alinhamento Horizontal dos elementos;
			flex-start = Esquerda;
			flex-end = Direita;
			center = Centro;

		align-items: Alinahmento Vertical do elementos;
			flex-start = Esquerda;
			flex-end = Direita;
			center = Centro;

		flex-direction: Direção dos elementos;
			row = Linha;
			column = Coluna;
			row-reverse = Inverte a ordem
			column-reverse = Inverte a ordem
 */

 section{
 	border: 3px solid #F00;
 	height: 200px; 

 	display: flex; /* Deixa os elementos um do lado do outro */
 	display: -webkit-flex; /* Para versões mais abtigas do Chrome */
 	display: -moz-flex; /* Para versões mais antigas do Mozina */

 	flex-wrap: wrap;
 	-webkit-flex-wrap: wrap;
 	-moz-flex-wrap: wrap;
	
	justify-content: flex-start;
 	-webkit-flex-justify-content: flex-start;
 	-moz-flex-justify-content: flex-start;

 	align-items: flex-start;

 	flex-direction: row;
 	
 }

 div{
 	border: 1px solid #000;
 	width: 100px;
 }

