.item{
   margin: 5px;
   padding: 5px;
   background: #447;
   text-align: center;
   font-size: 1em;
   color: #FFF;
}

.container{
   max-width: 600px;
   height: 400px;
   margin: 0 auto;
   border: 1px solid #000;
   justify-content: center; /* Eixo Principal */
   /*align-items: center; /* Eixo Secundário */
   align-content: space-between; /* Eixo Secundário */
}

.flexivel{
   display: flex;
}

.horizontal{
   flex-direction: row;
}

.vertical{
   flex-direction: column;
}

.quebra{
   flex-wrap: wrap;
}

.tam0{
   flex-grow: 0;
}

.tam1{
   flex-grow: 1;
}

.tam2{
   flex-grow: 2;
}

.tam3{
   flex-grow: 3;
}

body{
   font-family: Arial;
   color: #000;
}


/*
   Align-Content: Funciona quase da mesma forma que o aling-items com a diferença de que ele não deixa espaçamentos no Cross Axis entre os elementos

*/