.item{
   margin: 5px;
   padding: 5px;
   background: #447;
   text-align: center;
   font-size: 1em;
   color: #FFF;
}

.container{
   max-width: 600px;
   /* height: 600px; */
   margin: 0 auto;
   border: 1px solid #000;
}

.flexivel{
   display: flex;
}

p{
   text-align: center;
   margin: 25px 0 0 0;
   font-size: 1.5rem;
   font-weight: bold;
   color: #777;
}

body{
   font-family: Arial;
   color: #000;
}

/* 
   // Por padrão a direção dos elementos são de Main Axis (da Esquerda pra Direira) e Cross Axis (de Cima para Baixo)
   // Com a propriedade display: flex, os elementos podem ser alterados pelo Main/Cross Axis
*/