/* (100)HeaderAutoAjustavel */

*{box-sizing: border-box;}

body{
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

header{
	overflow: hidden;
	background-color: #F1F1F1;
	padding: 90px 10px;
	transition: 0.4s;
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 100;
}

header a{
	float: left;
	color: #000;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 4px;
}

#logo{
	font-size: 35px;
	font-weight: bold;
	transition: 0.4s;
}

header a:hover{
	background-color: #DDD;
}

#menu{
	float: right;
}

header a.ativo{
	background-color: #800;
	color: #FFF;
}